.a1{
    background-color: antiquewhite;
       padding-left: 20px;
       border-width: 2px;
       border-style: solid;
       border-color: rgb(161, 131, 131);
       margin: 70px;
       
    }
    .image{
        padding: 10px;
    }
    h2{
        color: rgb(48, 48, 49);
    }
    a:link{
        color: brown;
        text-decoration-line: none;
    }
    